<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <style>
    h1 {
      text-align: center;
      border: 5px solid blue;
      background-color: darkblue;
      color: white;
      padding: 5px;
    }

    body {
      /*text-align: center;*/
    }

    form {
      padding-top: 200px;
      padding-bottom: 20px;
      background-color: black;
      color: white;
    }
    form input {
      font-size: 2em;
    }
    </style>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
